
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

.navi  {
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
}    

.navi li {
    display: flex;
}

.navi a {
    text-decoration: none;
    color: rgb(80, 80, 80);
}


#left ul {
    display: flex;  
       
}

#left li {
    margin-right: 20px;
}

#right ul {
    display: flex;   
}

#right li {
    margin-right: 20px;
}

.navi a:hover {
    font-size: 15px;
    color: rgb(71, 52, 52);
    border-radius: 24px;
}

#right button {
    background-color: rgb(88, 88, 240);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 3px;
}

#right button:hover {
    border-radius: 7px;
    font-size: 17px;
}

#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#logo {
    padding-top: 155px;
}

#search-bar input {
    outline: none;
    border: none;
}

#search-bar {
    width: 567px;
    height: 24px;
    border-radius: 24px;
    box-shadow: 0 0 0 1px;
    opacity: 30%;
    padding: 10px 20px 3px 26px;
    margin: 5px 0 13px 0;
}

#search-bar:hover {
    box-shadow: 0 0 0 2px rgb(80, 80, 80);
}

#buttons button {
    border: none;
    padding: 5px 15px;
    color: rgb(80, 80, 80);
    border-radius: 10px;
    margin: 4px;
}

#buttons button:hover {
    background: skyblue;
}

.foot {
    display: flex;
    background-color: rgb(242, 242, 242);
    margin-top: 155px;
    justify-content: space-between;
    
    
}

.foot a {
    text-decoration: none;
    color: rgb(80, 80, 80); 
    
    
}

.foot li {
    display: flex;
}

#left-foot ul {
    display: flex;
    
}

#left-foot a {
    margin: 20px;
}

.right-foot ul {
    display: flex;
    
    
}

#right-foot a {
    
    display: flex;
}

#right-foot li {
    display: flex;
    float: right;
    margin: 20px;
}

.foot a:hover {
    font-size: 15px;
    color: rgb(71, 52, 52);
    border-radius: 24px;



    


